.section {
    width:280px;
    background-color:#cfcfcf;
    height:100vh;
    position:absolute;
    display:flex;
    right:0;
    z-index:3;
    /* top:-60px; */
    flex-direction: column;
    justify-content: flex-start;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

.componentList {
    position:relative;
    display:flex;
    /* align-items: center; */
    justify-content: center;
}


.componentList {
    width:100%;
    min-height:400px;
    /* background-color: black; */
}

.dndBoard {
    width:100%;
    height:500px;
    background-color:green;
}