.section {
    width:280px;
    background-color:#cfcfcf;
    height:100vh;
    position:absolute;
    display:flex;
    right:0;
    z-index:3;
    /* top:-60px; */
    
    overflow-x: hidden;
    overflow-y: hidden;
}