.board {
    width:150px;
    height:100px;
    background-color:aliceblue;
    border-radius:20px;
    border: 0.5px solid grey;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}